@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600');
@import './elemental.less';
@import './variables.less';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h1, h2, h3, h4, h5 {
  font-family: @font-primary;
  color: @green;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased !important;
}

p {
  font-family: @font-secondary;
  color: @grey-40;
}

a {
  color: @green;

  &:hover, &:active, &:focus {
    color: @dark-green;
    text-decoration: none;
    outline-style: none;
  }
}

input, textarea {
  width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 2px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.9);

  &:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.5);
    outline: 0 none;
  }
}

textarea {
  padding: 10px;
  margin-bottom: 0;
}

.button {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 50px;
  font-family: @font-primary;
  font-size: 14px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: @grey-40;
  border: 0px;
  border-radius: 2px;
  opacity: 1;
  cursor: pointer;
  margin: 30px 0;
  text-align: center;
  line-height: 50px;


 &:focus {
   outline: 0;
 }

 &:hover {
   opacity: 0.9;
   color: white;
 }

 &:visited, &:active, &:focus{
   color: white;
 }

 &--submit {
   background-color: @green;
 }
}

.message {
  height: 40px;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid transparent;

  p {
    display: table-cell;
    vertical-align: middle;
    line-height:40px;
  }

  &--erro {
    background-color: #e74c3c;
  }

  &--success {
    background-color: @dark-green;
  }
}

.menu__background--noimage {
  height: 70px;
  background-color: @dark-green
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@media (max-width: @screen-sm) {
 .sm-hide {
   display: none;
 }
}
